/* Extra small devices (preloaderhones, less than 339px) */
@media (max-width : 339px) {
	.m-skill {
		margin-bottom: 60px;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width : 766px) {
	.intro h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.social-icons ul {
		margin-left: 0;
	}

	.social-icons li {
		padding: 0;
	}

	.social-icons a i {
		margin: 0 5px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 100%;
	}

	.download-button .btn {
		margin-bottom: 20px;
	}


	/* Portfolio Section */
	.post_img {
		transform: scale(1.5);
	}


	/*  Popup Section */
	.popup_in {
		height: 80vh;
		align-items: center;
		align-content: space-between;
	}

	.popup_in img {
		width: 100%;
		height: 49%;
		object-fit: contain;
	}

	.popup_in i {
		font-size: 40px;
		top: -40px;
		color: #F48F38;
	}

	/* artwork */
	.post_photograpy {
		height: 300px;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 1px;
	}


	.resume-right-title,
	.resume-right-panel {
		text-align: right;
	}


	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 40px;
	}

	.count-wrap h3 {
		font-size: 30px;
		line-height: 16px;
	}

	.count-wrap p {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	#filter li {
		margin-bottom: 20px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}



	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section div>i {
		float: none;
		margin-right: 0;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.personal-info .intro-sub {
		font-size: 18px;
		line-height: 20px;
	}

	.personal-info p {
		line-height: 20px;
		margin-bottom: 20px;
	}

	.personal-info .my-signature {
		display: none;
	}

	.personal-info .download-button a {
		padding: 5px 10px;
		font-size: 15px;
		margin-right: 0;
	}

}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {

	.social-icons ul {
		margin-left: -5px;
	}

	.social-icons li {
		padding: 0 5px;
	}

	.social-icons a i {
		margin: 0 7px;
	}

	.mouse-icon {
		display: none;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		padding: 10px 15px;
	}

	.navbar-custom .dropdown-menu {
		margin-left: 20px;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 50%;
	}


	/*resume*/
	.resume:before,
	.resume:after {
		left: 1px;
	}

	.resume-right::before {
		right: 0;
		left: auto;
		height: 107%;
	}

	.resume-right-panel {
		padding: 24px;
		margin-left: 0;
		margin-right: 1rem;
	}

	.resume-right>.timeline>li .timeline-panel::after {
		left: auto;
		right: -5.6px;
	}

	.resume-right>.timeline>li .timeline-panel:hover::after {
		transform: translateX(-1.5rem);
	}


	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 64px;
	}

	.count-wrap h3 {
		font-size: 50px;
		line-height: 28px;
	}

	.count-wrap p {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}

	.count-wrap>div {
		margin-bottom: 40px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}


	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: none;
	}

	.center-xs {
		text-align: center;
	}

	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.personal-info h1 {
		font-size: 60px;
		line-height: 80px;
	}

	.personal-info .intro-sub {
		font-size: 24px;
		line-height: 32px;
	}

	.personal-info p {
		font-size: 14px;
		line-height: 28px;
	}

	.personal-info .my-signature {
		margin-bottom: 45px;
		display: block;
	}

	.personal-info .download-button a {
		padding: 14px 20px;
		font-size: 14px;
		margin-right: 20px;
	}


}

/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	.navbar-custom .navbar-brand {
		padding: 10px 15px;
	}

	.navbar-custom .navbar-nav>li>a,
	.navbar-custom .navbar-nav .dropdown-menu>li>a {
		font-size: 14px;
		padding: 18px 0;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/*resume*/
	.resume:before,
	.resume:after {
		left: 0px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 14px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon,
	.contact-section .mobile-icon {
		float: left;
	}

	.center-xs {
		text-align: left;
	}


	/*service*/
	.service-wrap>div {
		margin-bottom: 100px;
	}

	.service-wrap>div:nth-child(3),
	.service-wrap>div:nth-child(4) {
		margin-bottom: 0;
	}

	/*HOME TWO*/
	#homeTwo:before {
		width: 100%;
	}

	.personal-info {
		text-align: center;
		padding: 0 15px;
	}

	.main_banner {
		display: none;
	}

	.main_banner_pc {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		object-fit: cover;
		transform: translate(-50%, -50%);
	}

	.post_img {
		transform: scale(1.2) translate(0, +20px);
	}

	.artwork-img {
		transform: translate(0, 0);
	}

	.margin-bottom {
		margin-bottom: 50px;
	}

	.button {
		display: flex;
		width: 100%;
		font-family: 'Noto Sans KR';
		font-size: 14px;
		font-weight: 400;
		gap: 0 30px;
	}

	.button a {
		text-transform: uppercase;
		border: 1px solid #1C4655;
		border-radius: 15px;
		color: #1C4655;
		padding: 8px 19px;
	}

	.button a:nth-child(2),
	.button a:nth-child(3),
	.button a:nth-child(4) {
		border-left: 1px solid #1C4655;
	}


	.navbar-nav>li>a {
		font-size: 14px;
		padding: 18px 0;
	}


	.navbar-collapse {
		padding-right: 15px;
	}

	.navbar-collapse {
		padding: 0;
	}

	.navbar-right {
		margin-left: 0;
		width: 100%;
		display: flex;
		text-align: center;
		margin-right: 0;
	}

	.navbar-right>li {
		flex: 1;
	}

}

/* Medium devices (desktops, 992px and up) */
@media(min-width : 992px) {

	.navbar-custom .nav li.active,
	.navbar-custom .nav li a:hover,
	.navbar-custom .nav li a:focus,
	.navbar-custom .navbar-nav>li.active>a {
		background-image: url(../images/nav_on.png);

	}

	.main_banner {
		display: none;
	}

	.main_banner_pc {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: translate(-50%, -50%);
	}

	.section-title::before {
		content: "";
		position: absolute;
		top: 0.4rem;
		left: -1rem;
		width: 3px;
		height: 80%;
		background-color: #1C4655;
	}

	.PC_about {
		display: block;
	}

	.mobile_about {
		display: none;
	}

	ul.list-check li {
		font-size: 14px;
		padding: 0;
		border: none;
		text-align: left;
		font-weight: 500;
	}

	ul.list-check li::before {
		content: "#";
	}

	.post_photo {
		height: 400px;
	}

	.post_img {
		transform: scale(1) translate(0, -80px);
	}

	.artwork-img {
		transform: scale(1) translate(0, 0);
	}

	.margin-bottom {
		margin-bottom: 50px;
	}

	.button {
		gap: 0 30px;
	}

	.button a {
		text-transform: uppercase;
		border: 1px solid #1C4655;
		border-radius: 10px;
		color: #1C4655;
		padding: 8px 19px;
	}

	.button a:nth-child(2),
	.button a:nth-child(3),
	.button a:nth-child(4) {
		border-left: 1px solid #1C4655;
	}

	.artwork-img {
		transform: translate(0, 0);
	}


	/* Skill Section */
	.row_skill {
		padding-left: 50px;
	}

	.skill-progress h3 {
		font-size: 16px;
	}


	/* Contact Section */
	.contact_flex {
		text-align: left;
	}

	.contact_flex img {
		margin-right: 20px;
	}

	.con-left,
	.con-right {
		width: 300px;
		align-items: center;
		display: flex;
		padding: 0 30px;
	}

	.con_hover {
		top: 50%;
		left: -100%;
		transform: translateY(-50%);
	}

	.con-left:hover .con_icon_L,
	.con-right:hover .con_icon_R {
		transform: translateX(-160%);
	}

	.con-left:hover .con_hover,
	.con-right:hover .con_hover {
		left: 10%;
		top: 50%;
	}

	.con_click {
		transform: rotateY(180deg) translateY(-50%);
	}

	/* Resume Section */
	.resume-right .col-md-6,
	.resume-left .col-md-6,
	.resume-right .col-md-12,
	.resume-left .col-md-12 {
		padding: 0;
	}

	.progress-bar span {
		display: none;
	}

	/* Nav Section */
	.navbar-nav {
		margin-left: 0;
		width: 100%;
		display: flex;
		text-align: center;
		margin-right: 0;
	}

	.navbar-nav>li {
		flex: 1;
	}
}
